<h1>Itaque quantum adiit periculum! ad honestatem enim illum omnem conatum suum
    referebat, non ad voluptatem.</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In qua si nihil est
    praeter rationem, sit in una virtute finis bonorum; Duo Reges: constructio
    interrete. Sed residamus, inquit, si placet. Longum est enim ad omnia
    respondere, quae a te dicta sunt. <a href="http://loripsum.net/"
        target="_blank">At ille pellit, qui permulcet sensum voluptate.</a>
    <code>Fortemne possumus dicere eundem illum Torquatum?</code> Aliter enim
    explicari, quod quaeritur, non potest. Videmusne ut pueri ne verberibus
    quidem a contemplandis rebus perquirendisque deterreantur?
</p>
<p><img src="https://picsum.photos/1920/1080/?rand=2"></p>

<p>Atque haec ita iustitiae propria sunt, ut sint virtutum reliquarum communia.
    Theophrastus mediocriterne delectat, cum tractat locos ab Aristotele ante
    tractatos? Multoque hoc melius nos veriusque quam Stoici. Quid in isto
    egregio tuo officio et tanta fide-sic enim existimo-ad corpus refers? <a
        href="http://loripsum.net/" target="_blank">Iam in altera philosophiae
        parte.</a> Si quicquam extra virtutem habeatur in bonis. <a
        href="http://loripsum.net/" target="_blank">Immo videri fortasse.</a>
    Quis est, qui non oderit libidinosam, protervam adolescentiam? Quo studio
    Aristophanem putamus aetatem in litteris duxisse? </p>

<p>Quia dolori non voluptas contraria est, sed doloris privatio. Verum audiamus.
    Oratio me istius philosophi non offendit; Itaque vides, quo modo loquantur,
    nova verba fingunt, deserunt usitata. <a href="http://loripsum.net/"
        target="_blank">Primum quid tu dicis breve?</a> Ea, quae dialectici nunc
    tradunt et docent, nonne ab illis instituta sunt aut inventa sunt? <a
        href="http://loripsum.net/" target="_blank">Et nemo nimium beatus
        est;</a> <b>Proclivi currit oratio.</b> <a href="http://loripsum.net/"
        target="_blank">Non autem hoc: igitur ne illud quidem.</a> </p>

<p>Quia nec honesto quic quam honestius nec turpi turpius. Ratio enim nostra
    consentit, pugnat oratio. Bork Hoc non est positum in nostra actione. Sed
    erat aequius Triarium aliquid de dissensione nostra iudicare. Cur igitur
    easdem res, inquam, Peripateticis dicentibus verbum nullum est, quod non
    intellegatur? Hanc quoque iucunditatem, si vis, transfer in animum;
    <i>Bork</i>
</p>

<ol>
    <li>Sed hoc sane concedamus.</li>
    <li>Quid enim possumus hoc agere divinius?</li>
    <li>Vos autem cum perspicuis dubia debeatis illustrare, dubiis perspicua
        conamini tollere.</li>
</ol>


<ul>
    <li>Negare non possum.</li>
    <li>Quis enim confidit semper sibi illud stabile et firmum permansurum, quod
        fragile et caducum sit?</li>
    <li>Et quidem, Cato, hanc totam copiam iam Lucullo nostro notam esse
        oportebit;</li>
</ul>


<ul>
    <li>Hi curatione adhibita levantur in dies, valet alter plus cotidie, alter
        videt.</li>
    <li>Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus;
    </li>
    <li>Sit hoc ultimum bonorum, quod nunc a me defenditur;</li>
    <li>Pisone in eo gymnasio, quod Ptolomaeum vocatur, unaque nobiscum Q.</li>
    <li>Heri, inquam, ludis commissis ex urbe profectus veni ad vesperum.</li>
    <li>Quid est igitur, cur ita semper deum appellet Epicurus beatum et
        aeternum?</li>
</ul>


<blockquote cite="http://loripsum.net">
    Idem iste, inquam, de voluptate quid sentit?
</blockquote>


<p>Illa argumenta propria videamus, cur omnia sint paria peccata. An haec ab eo
    non dicuntur? Sed ad haec, nisi molestum est, habeo quae velim. Re mihi non
    aeque satisfacit, et quidem locis pluribus. Age nunc isti doceant, vel tu
    potius quis enim ista melius? </p>
    <p><img src="https://picsum.photos/1920/1080/?rand=3"></p>
<p>Sed potestne rerum maior esse dissensio? Inquit, an parum disserui non verbis
    Stoicos a Peripateticis, sed universa re et tota sententia dissidere? <b>Hic
        nihil fuit, quod quaereremus.</b> Nec vero alia sunt quaerenda contra
    Carneadeam illam sententiam. Sed vobis voluptatum perceptarum recordatio
    vitam beatam facit, et quidem corpore perceptarum. Quis tibi ergo istud
    dabit praeter Pyrrhonem, Aristonem eorumve similes, quos tu non probas?
    <b>Itaque contra est, ac dicitis;</b> <a href="http://loripsum.net/"
        target="_blank">Sed haec omittamus;</a>
</p>

<p>Quis, quaeso, illum negat et bonum virum et comem et humanum fuisse? Hoc tu
    nunc in illo probas. Compensabatur, inquit, cum summis doloribus laetitia.
    Videamus igitur sententias eorum, tum ad verba redeamus. Sint ista
    Graecorum; Quae cum praeponunt, ut sit aliqua rerum selectio, naturam
    videntur sequi; Quae sequuntur igitur? Sint ista Graecorum; </p>
    <p><img src="https://picsum.photos/1920/1080/?rand=4"></p>
<h4>Idemne potest esse dies saepius, qui semel fuit?</h4>

<p>Quicquid porro animo cernimus, id omne oritur a sensibus; <b>Certe, nisi
        voluptatem tanti aestimaretis.</b> Nunc haec primum fortasse audientis
    servire debemus. Quo plebiscito decreta a senatu est consuli quaestio Cn.
    Haec qui audierit, ut ridere non curet, discedet tamen nihilo firmior ad
    dolorem ferendum, quam venerat. Nunc de hominis summo bono quaeritur; Etenim
    si delectamur, cum scribimus, quis est tam invidus, qui ab eo nos abducat?
    Te enim iudicem aequum puto, modo quae dicat ille bene noris. </p>

<dl>
    <dt><dfn>Bork</dfn></dt>
    <dd>Quem si tenueris, non modo meum Ciceronem, sed etiam me ipsum abducas
        licebit.</dd>
    <dt><dfn>Ita nemo beato beatior.</dfn></dt>
    <dd>Quasi ego id curem, quid ille aiat aut neget.</dd>
</dl>


<ul>
    <li>Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
        sequi;</li>
    <li>Ut optime, secundum naturam affectum esse possit.</li>
    <li>Quid ergo hoc loco intellegit honestum?</li>
    <li>Atque his de rebus et splendida est eorum et illustris oratio.</li>
    <li>Et harum quidem rerum facilis est et expedita distinctio.</li>
    <li>Satis est ad hoc responsum.</li>
</ul>


<p>Vidit Homerus probari fabulam non posse, si cantiunculis tantus irretitus vir
    teneretur; Eaedem res maneant alio modo. Quorum sine causa fieri nihil
    putandum est. <a href="http://loripsum.net/" target="_blank">Quod cum
        dixissent, ille contra.</a> <b>Nam ante Aristippus, et ille melius.</b>
    Cur fortior sit, si illud, quod tute concedis, asperum et vix ferendum
    putabit? Neque solum ea communia, verum etiam paria esse dixerunt. <i>Quo
        tandem modo?</i> At iste non dolendi status non vocatur voluptas. Quid,
    quod homines infima fortuna, nulla spe rerum gerendarum, opifices denique
    delectantur historia? </p>

<h1>Illa videamus, quae a te de amicitia dicta sunt.</h1>

<p>Tamen a proposito, inquam, aberramus. <i>Honesta oratio, Socratica, Platonis
        etiam.</i> Neminem videbis ita laudatum, ut artifex callidus
    comparandarum voluptatum diceretur. Quid de Platone aut de Democrito loquar?
    Mihi, inquam, qui te id ipsum rogavi? </p>

<blockquote cite="http://loripsum.net">
    Quid tibi, Torquate, quid huic Triario litterae, quid historiae cognitioque
    rerum, quid poetarum evolutio, quid tanta tot versuum memoria voluptatis
    affert?
</blockquote>


<h5>Suam denique cuique naturam esse ad vivendum ducem.</h5>

<p><i>Respondent extrema primis, media utrisque, omnia omnibus.</i> Videamus
    animi partes, quarum est conspectus illustrior; Qui autem esse poteris, nisi
    te amor ipse ceperit? Egone quaeris, inquit, quid sentiam? </p>

<dl>
    <dt><dfn>Bork</dfn></dt>
    <dd>Idem fecisset Epicurus, si sententiam hanc, quae nunc Hieronymi est,
        coniunxisset cum Aristippi vetere sententia.</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Praeclare hoc quidem.</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Septem autem illi non suo, sed populorum suffragio omnium nominati sunt.
    </dd>
    <dt><dfn>Sint ista Graecorum;</dfn></dt>
    <dd>Animi enim quoque dolores percipiet omnibus partibus maiores quam
        corporis.</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Alia quaedam dicent, credo, magna antiquorum esse peccata, quae ille
        veri investigandi cupidus nullo modo ferre potuerit.</dd>
</dl>


<h2>Res enim se praeclare habebat, et quidem in utraque parte.</h2>

<p>Apud imperitos tum illa dicta sunt, aliquid etiam coronae datum; Ex ea
    difficultate illae fallaciloquae, ut ait Accius, malitiae natae sunt.
    <b>Ergo ita: non posse honeste vivi, nisi honeste vivatur?</b> Quorum sine
    causa fieri nihil putandum est.
</p>

<p>Ad eas enim res ab Epicuro praecepta dantur. Licet hic rursus ea commemores,
    quae optimis verbis ab Epicuro de laude amicitiae dicta sunt. Sunt autem,
    qui dicant foedus esse quoddam sapientium, ut ne minus amicos quam se ipsos
    diligant. Scientiam pollicentur, quam non erat mirum sapientiae cupido
    patria esse cariorem. Quid censes in Latino fore? Si ad corpus
    pertinentibus, rationes tuas te video compensare cum istis doloribus, non
    memoriam corpore perceptarum voluptatum; </p>

<blockquote cite="http://loripsum.net">
    Ne seges quidem igitur spicis uberibus et crebris, si avenam uspiam videris,
    nec mercatura quaestuosa, si in maximis lucris paulum aliquid damni
    contraxerit.
</blockquote>


<p>Te ipsum, dignissimum maioribus tuis, voluptasne induxit, ut adolescentulus
    eriperes P. Sed quid attinet de rebus tam apertis plura requirere? Itaque
    hic ipse iam pridem est reiectus; Sin eam, quam Hieronymus, ne fecisset
    idem, ut voluptatem illam Aristippi in prima commendatione poneret. <b>Quis
        istud possit, inquit, negare?</b> Quis non odit sordidos, vanos, leves,
    futtiles? </p>

<pre>Peccata autem partim esse tolerabilia, partim nullo modo,
propterea quod alia peccata plures, alia pauciores quasi
numeros officii praeterirent.

Quo invento omnis ab eo quasi capite de summo bono et malo
disputatio ducitur.
</pre>


<h3>Summus dolor plures dies manere non potest?</h3>

<p>Sed nimis multa. Callipho ad virtutem nihil adiunxit nisi voluptatem,
    Diodorus vacuitatem doloris. <a href="http://loripsum.net/"
        target="_blank">Polycratem Samium felicem appellabant.</a> Commoda autem
    et incommoda in eo genere sunt, quae praeposita et reiecta diximus; <a
        href="http://loripsum.net/" target="_blank">Praeclarae mortes sunt
        imperatoriae;</a> Beatum, inquit. </p>

<p>Quid vero? Quamquam te quidem video minime esse deterritum. Ut in voluptate
    sit, qui epuletur, in dolore, qui torqueatur. Vides igitur te aut ea sumere,
    quae non concedantur, aut ea, quae etiam concessa te nihil iuvent.
    Voluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde
    hoc quoque alienum; Tuo vero id quidem, inquam, arbitratu. Ita similis erit
    ei finis boni, atque antea fuerat, neque idem tamen; Ratio quidem vestra sic
    cogit. </p>

<p>Commoda autem et incommoda in eo genere sunt, quae praeposita et reiecta
    diximus; At miser, si in flagitiosa et vitiosa vita afflueret voluptatibus.
    Nec enim ignoras his istud honestum non summum modo, sed etiam, ut tu vis,
    solum bonum videri. Minime vero istorum quidem, inquit. <a
        href="http://loripsum.net/" target="_blank">Sed quid attinet de rebus
        tam apertis plura requirere?</a> Quod non faceret, si in voluptate
    summum bonum poneret. Dici enim nihil potest verius. <a
        href="http://loripsum.net/" target="_blank">Sed quot homines, tot
        sententiae;</a> </p>

<pre>Necesseque est, si quis sibi ipsi inimicus est, eum quae
bona sunt mala putare, bona contra quae mala, et quae
appetenda fugere, quae fugienda appetere, quae sine dubio
vitae est eversio.

Docent enim nos, ut scis, dialectici, si ea, quae rem
aliquam sequantur, falsa sint, falsam illam ipsam esse, quam
sequantur.
</pre>


<p>Superiores tres erant, quae esse possent, quarum est una sola defensa, eaque
    vehementer. Quamquam te quidem video minime esse deterritum. <b>Quid nunc
        honeste dicit?</b> <a href="http://loripsum.net/"
        target="_blank">Expectoque quid ad id, quod quaerebam, respondeas.</a>
    <a href="http://loripsum.net/" target="_blank">Polycratem Samium felicem
        appellabant.</a> Itaque quantum adiit periculum! ad honestatem enim
    illum omnem conatum suum referebat, non ad voluptatem. Nonne igitur tibi
    videntur, inquit, mala? Quis negat? <b>Huius, Lyco, oratione locuples, rebus
        ipsis ielunior.</b>
</p>

<dl>
    <dt><dfn>Bork</dfn></dt>
    <dd>Ab his oratores, ab his imperatores ac rerum publicarum principes
        extiterunt.</dd>
    <dt><dfn>Verum esto;</dfn></dt>
    <dd>Saepe ab Aristotele, a Theophrasto mirabiliter est laudata per se ipsa
        rerum scientia;</dd>
    <dt><dfn>Tuum credibile?</dfn></dt>
    <dd>Stoici autem, quod finem bonorum in una virtute ponunt, similes sunt
        illorum;</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>In eo enim positum est id, quod dicimus esse expetendum.</dd>
</dl>


<pre>Ex quo magnitudo quoque animi existebat, qua facile posset
repugnari obsistique fortunae, quod maximae res essent in
potestate sapientis.

Fortitudinis quaedam praecepta sunt ac paene leges, quae
effeminari virum vetant in dolore.
</pre>


<ol>
    <li>Equidem etiam Epicurum, in physicis quidem, Democriteum puto.</li>
    <li>Idem etiam dolorem saepe perpetiuntur, ne, si id non faciant, incidant
        in maiorem.</li>
</ol>


<ol>
    <li>Quid ad utilitatem tantae pecuniae?</li>
    <li>Falli igitur possumus.</li>
    <li>Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt;
    </li>
    <li>Si autem id non concedatur, non continuo vita beata tollitur.</li>
</ol>


<p>Sed quoniam et advesperascit et mihi ad villam revertendum est, nunc quidem
    hactenus; Facit igitur Lucius noster prudenter, qui audire de summo bono
    potissimum velit; <code>Optime, inquam.</code> Et ais, si una littera
    commota sit, fore tota ut labet disciplina. Tamen a proposito, inquam,
    aberramus. <code>Quam si explicavisset, non tam haesitaret.</code> </p>

<h6>An haec ab eo non dicuntur?</h6>

<p>Satis est ad hoc responsum. <a href="http://loripsum.net/"
        target="_blank">Quae duo sunt, unum facit.</a> Verba tu fingas et ea
    dicas, quae non sentias? Familiares nostros, credo, Sironem dicis et
    Philodemum, cum optimos viros, tum homines doctissimos. Nam Metrodorum non
    puto ipsum professum, sed, cum appellaretur ab Epicuro, repudiare tantum
    beneficium noluisse; Nihil acciderat ei, quod nollet, nisi quod anulum, quo
    delectabatur, in mari abiecerat. </p>

<h1>Quae qui non vident, nihil umquam magnum ac cognitione dignum amaverunt.
</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id aliis narrare
    gestiant? Commentarios quosdam, inquam, Aristotelios, quos hic sciebam esse,
    veni ut auferrem, quos legerem, dum essem otiosus; Duo Reges: constructio
    interrete. Minime vero probatur huic disciplinae, de qua loquor, aut
    iustitiam aut amicitiam propter utilitates adscisci aut probari. <b>Qua tu
        etiam inprudens utebare non numquam.</b> Infinitio ipsa, quam apeirian
    vocant, tota ab illo est, tum innumerabiles mundi, qui et oriantur et
    intereant cotidie. Tuo vero id quidem, inquam, arbitratu. </p>

<p><code>Moriatur, inquit.</code> Gracchum patrem non beatiorem fuisse quam
    fillum, cum alter stabilire rem publicam studuerit, alter evertere. Sed si
    duo honesta proposita sint, alterum cum valitudine, alterum cum morbo, non
    esse dubium, ad utrum eorum natura nos ipsa deductura sit. Hoc loco tenere
    se Triarius non potuit. An vero, inquit, quisquam potest probare, quod
    perceptfum, quod. Sed tu istuc dixti bene Latine, parum plane. Nam et
    complectitur verbis, quod vult, et dicit plane, quod intellegam; Nam de
    summo mox, ut dixi, videbimus et ad id explicandum disputationem omnem
    conferemus. <i>Sic consequentibus vestris sublatis prima tolluntur.</i>
    <i>Audeo dicere, inquit.</i> Te enim iudicem aequum puto, modo quae dicat
    ille bene noris. Tu autem, si tibi illa probabantur, cur non propriis verbis
    ea tenebas? <i>Nunc omni virtuti vitium contrario nomine opponitur.</i> Non
    igitur potestis voluptate omnia dirigentes aut tueri aut retinere virtutem.
</p>

<ol>
    <li>Sed audiamus ipsum: Compensabatur, inquit, tamen cum his omnibus animi
        laetitia, quam capiebam memoria rationum inventorumque nostrorum.</li>
    <li>Philosophi autem in suis lectulis plerumque moriuntur.</li>
    <li>Non igitur potestis voluptate omnia dirigentes aut tueri aut retinere
        virtutem.</li>
    <li>Addidisti ad extremum etiam indoctum fuisse.</li>
    <li>Sed quid ages tandem, si utilitas ab amicitia, ut fit saepe, defecerit?
    </li>
</ol>


<p>Egone non intellego, quid sit don Graece, Latine voluptas? <i>Omnia peccata
        paria dicitis.</i> Verum tamen cum de rebus grandioribus dicas, ipsae
    res verba rapiunt; Hanc se tuus Epicurus omnino ignorare dicit quam aut
    qualem esse velint qui honestate summum bonum metiantur. Ut necesse sit
    omnium rerum, quae natura vigeant, similem esse finem, non eundem. Quid
    loquor de nobis, qui ad laudem et ad decus nati, suscepti, instituti sumus?
    Hanc se tuus Epicurus omnino ignorare dicit quam aut qualem esse velint qui
    honestate summum bonum metiantur. Et summatim quidem haec erant de corpore
    animoque dicenda, quibus quasi informatum est quid hominis natura postulet.
    Ut in geometria, prima si dederis, danda sunt omnia. Negat enim tenuissimo
    victu, id est contemptissimis escis et potionibus, minorem voluptatem
    percipi quam rebus exquisitissimis ad epulandum. </p>

<ol>
    <li>At iam decimum annum in spelunca iacet.</li>
    <li>Polemoni et iam ante Aristoteli ea prima visa sunt, quae paulo ante
        dixi.</li>
    <li>Quis non odit sordidos, vanos, leves, futtiles?</li>
    <li>Bona autem corporis huic sunt, quod posterius posui, similiora.</li>
</ol>


<blockquote cite="http://loripsum.net">
    Quis enim ignorat, si plures ex alto emergere velint, propius fore eos
    quidem ad respirandum, qui ad summam iam aquam adpropinquent, sed nihilo
    magis respirare posse quam eos, qui sint in profundo?
</blockquote>


<p>Tum ego: Non mehercule, inquam, soleo temere contra Stoicos, non quo illis
    admodum assentiar, sed pudore impedior; Quos qui tollunt et nihil posse
    percipi dicunt, ii remotis sensibus ne id ipsum quidem expedire possunt,
    quod disserunt. An, si id probas, fieri ita posse negas, ut ii, qui virtutis
    compotes sint, etiam malis quibusdam affecti beati sint? Quod quoniam in quo
    sit magna dissensio est, Carneadea nobis adhibenda divisio est, qua noster
    Antiochus libenter uti solet. Quod cum ille dixisset et satis disputatum
    videretur, in oppidum ad Pomponium perreximus omnes. Quod autem meum munus
    dicis non equidem recuso, sed te adiungo socium. Vides igitur te aut ea
    sumere, quae non concedantur, aut ea, quae etiam concessa te nihil iuvent.
    Cum autem venissemus in Academiae non sine causa nobilitata spatia, solitudo
    erat ea, quam volueramus. Consequens enim est et post oritur, ut dixi. Aut,
    Pylades cum sis, dices te esse Orestem, ut moriare pro amico? Aliis esse
    maiora, illud dubium, ad id, quod summum bonum dicitis, ecquaenam possit
    fieri accessio. </p>

<h3>Quae hic rei publicae vulnera inponebat, eadem ille sanabat.</h3>

<p><a href="http://loripsum.net/" target="_blank">Qualem igitur hominem natura
        inchoavit?</a> <code>Bork</code> <b>Peccata paria.</b>
    <code>Verum hoc idem saepe faciamus.</code> <i>Graece donan, Latine
        voluptatem vocant.</i> Et nunc quidem quod eam tuetur, ut de vite
    potissimum loquar, est id extrinsecus; Sed eum qui audiebant, quoad
    poterant, defendebant sententiam suam. <a href="http://loripsum.net/"
        target="_blank">Traditur, inquit, ab Epicuro ratio neglegendi
        doloris.</a>
    <code>Sit hoc ultimum bonorum, quod nunc a me defenditur;</code> Ratio ista,
    quam defendis, praecepta, quae didicisti, quae probas, funditus evertunt
    amicitiam, quamvis eam Epicurus, ut facit, in caelum efferat laudibus. </p>

<p>Non est enim vitium in oratione solum, sed etiam in moribus. Videmus igitur
    ut conquiescere ne infantes quidem possint. Si ad corpus pertinentibus,
    rationes tuas te video compensare cum istis doloribus, non memoriam corpore
    perceptarum voluptatum; Nullis enim partitionibus, nullis definitionibus
    utuntur ipsique dicunt ea se modo probare, quibus natura tacita adsentiatur.
    Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi
    nominis. <i>Quamquam tu hanc copiosiorem etiam soles dicere.</i> <a
        href="http://loripsum.net/" target="_blank">Falli igitur possumus.</a>
    <a href="http://loripsum.net/" target="_blank">Quamquam tu hanc copiosiorem
        etiam soles dicere.</a> <a href="http://loripsum.net/"
        target="_blank">Quibus ego vehementer assentior.</a> </p>

<p>Si verbum sequimur, primum longius verbum praepositum quam bonum. Quid tanto
    concursu honestissimorum studiorum, tanto virtutum comitatu, si ea nullam ad
    aliam rem nisi ad voluptatem conquiruntur? Ergo in utroque exercebantur,
    eaque disciplina effecit tantam illorum utroque in genere dicendi copiam.
    Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse
    inanitas ista verborum. Quoniam igitur, ut medicina valitudinis,
    navigationis gubernatio, sic vivendi ars est prudente, necesse est eam
    quoque ab aliqua re esse constitutam et profectam. Quod praeceptum quia
    maius erat, quam ut ab homine videretur, idcirco assignatum est deo. Mihi
    quidem Homerus huius modi quiddam vidisse videatur in iis, quae de Sirenum
    cantibus finxerit. </p>

<h5>Nihil minus, contraque illa hereditate dives ob eamque rem laetus.</h5>

<p>Mihi, inquam, qui te id ipsum rogavi? Immo videri fortasse. Qui bonum omne in
    virtute ponit, is potest dicere perfici beatam vitam perfectione virtutis;
    Verba tu fingas et ea dicas, quae non sentias? <i>Quaerimus enim finem
        bonorum.</i> Qua igitur re ab deo vincitur, si aeternitate non vincitur?
    Atqui perspicuum est hominem e corpore animoque constare, cum primae sint
    animi partes, secundae corporis. <a href="http://loripsum.net/"
        target="_blank">Ergo, inquit, tibi Q.</a> Ergo illi intellegunt quid
    Epicurus dicat, ego non intellego? <mark>Iam id ipsum absurdum, maximum
        malum neglegi.</mark> </p>

<pre>Multosque etiam dolores curationis causa perferant, ut, si
ipse usus membrorum non modo non maior, verum etiam minor
futurus sit, eorum tamen species ad naturam revertatur?

An est aliquid per se ipsum flagitiosum, etiamsi nulla
comitetur infamia?
</pre>


<pre>Ab hoc autem quaedam non melius quam veteres, quaedam omnino
relicta.

Atque omnia quidem scire, cuiuscumque modi sint, cupere
curiosorum, duci vero maiorum rerum contemplatione ad
cupiditatem scientiae summorum virorum est putandum.
</pre>


<dl>
    <dt><dfn>Recte, inquit, intellegis.</dfn></dt>
    <dd>Non quaero, quid dicat, sed quid convenienter possit rationi et
        sententiae suae dicere.</dd>
    <dt><dfn>Quonam modo?</dfn></dt>
    <dd>Nam illud quidem adduci vix possum, ut ea, quae senserit ille, tibi non
        vera videantur.</dd>
    <dt><dfn>Quis enim redargueret?</dfn></dt>
    <dd>Atque his de rebus et splendida est eorum et illustris oratio.</dd>
</dl>


<p><mark>Quo modo autem philosophus loquitur?</mark> Videamus igitur sententias
    eorum, tum ad verba redeamus. Si sapiens, ne tum quidem miser, cum ab
    Oroete, praetore Darei, in crucem actus est. Quasi vero, inquit, perpetua
    oratio rhetorum solum, non etiam philosophorum sit. Alterum significari
    idem, ut si diceretur, officia media omnia aut pleraque servantem vivere.
    Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam
    pollicetur. Hoc est dicere: Non reprehenderem asotos, si non essent asoti.
    <mark>Quonam, inquit, modo?</mark> Nonne videmus quanta perturbatio rerum
    omnium consequatur, quanta confusio? Non potes, nisi retexueris illa.
    Videamus animi partes, quarum est conspectus illustrior; Nihil minus,
    contraque illa hereditate dives ob eamque rem laetus. Negat enim tenuissimo
    victu, id est contemptissimis escis et potionibus, minorem voluptatem
    percipi quam rebus exquisitissimis ad epulandum. Ut necesse sit omnium
    rerum, quae natura vigeant, similem esse finem, non eundem. </p>

<ul>
    <li>Eaedem enim utilitates poterunt eas labefactare atque pervertere.</li>
    <li>Itaque hoc frequenter dici solet a vobis, non intellegere nos, quam
        dicat Epicurus voluptatem.</li>
    <li>Cur ipse Pythagoras et Aegyptum lustravit et Persarum magos adiit?</li>
    <li>Est tamen ea secundum naturam multoque nos ad se expetendam magis
        hortatur quam superiora omnia.</li>
    <li>Quae qui non vident, nihil umquam magnum ac cognitione dignum amaverunt.
    </li>
    <li>Iam quae corporis sunt, ea nec auctoritatem cum animi partibus,
        comparandam et cognitionem habent faciliorem.</li>
</ul>


<p>Ita cum ea volunt retinere, quae superiori sententiae conveniunt, in
    Aristonem incidunt; <b>Igitur ne dolorem quidem.</b> Curium putes loqui,
    interdum ita laudat, ut quid praeterea sit bonum neget se posse ne suspicari
    quidem. Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad
    corpus refers? Hic quoque suus est de summoque bono dissentiens dici vere
    Peripateticus non potest. <b>Illa tamen simplicia, vestra versuta.</b> Qui
    enim voluptatem ipsam contemnunt, iis licet dicere se acupenserem maenae non
    anteponere. Quod quoniam in quo sit magna dissensio est, Carneadea nobis
    adhibenda divisio est, qua noster Antiochus libenter uti solet. <b>Multoque
        hoc melius nos veriusque quam Stoici.</b> Aufidio, praetorio, erudito
    homine, oculis capto, saepe audiebam, cum se lucis magis quam utilitatis
    desiderio moveri diceret. <a href="http://loripsum.net/" target="_blank">Nos
        commodius agimus.</a> </p>

<h2>Non enim iam stirpis bonum quaeret, sed animalis.</h2>

<p><i>Cur post Tarentum ad Archytam?</i> Quem enim ardorem studii censetis
    fuisse in Archimede, qui dum in pulvere quaedam describit attentius, ne
    patriam quidem captam esse senserit? Sin autem est in ea, quod quidam
    volunt, nihil impedit hanc nostram comprehensionem summi boni. Nobis enim
    ista quaesita, a nobis descripta, notata, praecepta sunt, omniumque rerum
    publicarum reetionis genera, status, mutationes, leges etiam et instituta ac
    mores civitatum perscripsimus. <a href="http://loripsum.net/"
        target="_blank">Quid, si etiam iucunda memoria est praeteritorum
        malorum?</a> Longum est enim ad omnia respondere, quae a te dicta sunt.
    <a href="http://loripsum.net/" target="_blank">Illum mallem levares, quo
        optimum atque humanissimum virum, Cn.</a> Etenim semper illud extra est,
    quod arte comprehenditur. Sed tamen enitar et, si minus multa mihi
    occurrent, non fugiam ista popularia. Mihi enim satis est, ipsis non satis.
    In qua quid est boni praeter summam voluptatem, et eam sempiternam?
    <mark>Nam de isto magna dissensio est.</mark> </p>

<p>Vadem te ad mortem tyranno dabis pro amico, ut Pythagoreus ille Siculo fecit
    tyranno? <mark>Quid de Pythagora?</mark> Minime vero, inquit ille,
    consentit. Unum nescio, quo modo possit, si luxuriosus sit, finitas
    cupiditates habere. Idem fecisset Epicurus, si sententiam hanc, quae nunc
    Hieronymi est, coniunxisset cum Aristippi vetere sententia. Animadverti,
    ínquam, te isto modo paulo ante ponere, et scio ab Antiocho nostro dici sic
    solere; A villa enim, credo, et: Si ibi te esse scissem, ad te ipse
    venissem. Licet hic rursus ea commemores, quae optimis verbis ab Epicuro de
    laude amicitiae dicta sunt. <b>Ita nemo beato beatior.</b> </p>

<p>Hic ego: Etsi facit hic quidem, inquam, Piso, ut vides, ea, quae praecipis,
    tamen mihi grata hortatio tua est. Tuo vero id quidem, inquam, arbitratu.
    Omnem vim loquendi, ut iam ante Aristoteles, in duas tributam esse partes,
    rhetoricam palmae, dialecticam pugni similem esse dicebat, quod latius
    loquerentur rhetores, dialectici autem compressius. <b>Quid ad utilitatem
        tantae pecuniae?</b> <a href="http://loripsum.net/" target="_blank">Quid
        dubitas igitur mutare principia naturae?</a> Primum non saepe, deinde
    quae est ista relaxatio, cum et praeteriti doloris memoria recens est et
    futuri atque inpendentis torquet timor? Et quidem saepe quaerimus verbum
    Latinum par Graeco et quod idem valeat; Quo tandem modo? Tu autem inter haec
    tantam multitudinem hominum interiectam non vides nec laetantium nec
    dolentium? <i>Urgent tamen et nihil remittunt.</i> An quod ita callida est,
    ut optime possit architectari voluptates? Effluit igitur voluptas corporis
    et prima quaeque avolat saepiusque relinquit causam paenitendi quam
    recordandi. </p>

<dl>
    <dt><dfn>Frater et T.</dfn></dt>
    <dd>Apud imperitos tum illa dicta sunt, aliquid etiam coronae datum;</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Quippe: habes enim a rhetoribus;</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Quod idem cum vestri faciant, non satis magnam tribuunt inventoribus
        gratiam.</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Nam illud quidem adduci vix possum, ut ea, quae senserit ille, tibi non
        vera videantur.</dd>
</dl>


<h4>Nam si propter voluptatem, quae est ista laus, quae possit e macello peti?
</h4>

<p>Primum cur ista res digna odio est, nisi quod est turpis? <b>Si enim ad
        populum me vocas, eum.</b> An hoc usque quaque, aliter in vita? Id enim
    natura desiderat. Est tamen ea secundum naturam multoque nos ad se
    expetendam magis hortatur quam superiora omnia. <i>Quid iudicant sensus?</i>
    <code>Ecce aliud simile dissimile.</code> Itaque, ne si iucundissimis quidem
    nos somniis usuros putemus, Endymionis somnum nobis velimus dari, idque si
    accidat, mortis instar putemus. <i>Sed ille, ut dixi, vitiose.</i> Etenim
    nec iustitia nec amicitia esse omnino poterunt, nisi ipsae per se
    expetuntur. Qua ex cognitione facilior facta est investigatio rerum
    occultissimarum. Hoc ille tuus non vult omnibusque ex rebus voluptatem quasi
    mercedem exigit. </p>

<ol>
    <li>Praeclare hoc quidem.</li>
    <li>Quae in controversiam veniunt, de iis, si placet, disseramus.</li>
    <li>At, illa, ut vobis placet, partem quandam tuetur, reliquam deserit.</li>
    <li>Etsi qui potest intellegi aut cogitari esse aliquod animal, quod se
        oderit?</li>
    <li>Vives, inquit Aristo, magnifice atque praeclare, quod erit cumque visum
        ages, numquam angere, numquam cupies, numquam timebis.</li>
</ol>


<ul>
    <li>Minime vero istorum quidem, inquit.</li>
    <li>Quamvis enim depravatae non sint, pravae tamen esse possunt.</li>
    <li>Quis non odit sordidos, vanos, leves, futtiles?</li>
    <li>Traditur, inquit, ab Epicuro ratio neglegendi doloris.</li>
</ul>


<blockquote cite="http://loripsum.net">
    Quibus autem in rebus tanta obscuratio non fit, fieri tamen potest, ut id
    ipsum, quod interest, non sit magnum.
</blockquote>


<pre>Sin ea non neglegemus neque tamen ad finem summi boni
referemus, non multum ab Erilli levitate aberrabimus.

Is cum arderet podagrae doloribus visitassetque hominem
Charmides Epicureus perfamiliaris et tristis exiret, Mane,
quaeso, inquit, Charmide noster;
</pre>


<p>Quid Zeno? Hoc ipsum elegantius poni meliusque potuit.
    <code>Haec dicuntur inconstantissime.</code> Nec vero intermittunt aut
    admirationem earum rerum, quae sunt ab antiquis repertae, aut
    investigationem novarum. Immo istud quidem, inquam, quo loco quidque, nisi
    iniquum postulo, arbitratu meo. Quae cum ita sint, effectum est nihil esse
    malum, quod turpe non sit. </p>

<p>Nulla profecto est, quin suam vim retineat a primo ad extremum. In ipsa enim
    parum magna vis inest, ut quam optime se habere possit, si nulla cultura
    adhibeatur. <b>Hoc etsi multimodis reprehendi potest, tamen accipio, quod
        dant.</b> Atque omnia quidem scire, cuiuscumque modi sint, cupere
    curiosorum, duci vero maiorum rerum contemplatione ad cupiditatem scientiae
    summorum virorum est putandum. Varietates autem iniurasque fortunae facile
    veteres philosophorum praeceptis instituta vita superabat. <b>Istam
        voluptatem perpetuam quis potest praestare sapienti?</b> Maximas vero
    virtutes iacere omnis necesse est voluptate dominante. <b>Sed ad bona
        praeterita redeamus.</b> </p>

<p>Minime vero probatur huic disciplinae, de qua loquor, aut iustitiam aut
    amicitiam propter utilitates adscisci aut probari. </p>

<dl>
    <dt><dfn>Quid vero?</dfn></dt>
    <dd>Ut placet, inquit, etsi enim illud erat aptius, aequum cuique concedere.
    </dd>
    <dt><dfn>Nihil sane.</dfn></dt>
    <dd>Ergo in utroque exercebantur, eaque disciplina effecit tantam illorum
        utroque in genere dicendi copiam.</dd>
    <dt><dfn>Tu quidem reddes;</dfn></dt>
    <dd>Si quicquam extra virtutem habeatur in bonis.</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Intrandum est igitur in rerum naturam et penitus quid ea postulet
        pervidendum;</dd>
</dl>


<blockquote cite="http://loripsum.net">
    Non elogia monimentorum id significant, velut hoc ad portam: Hunc unum
    plurimae consentiunt gentes populi primarium fuisse virum.
</blockquote>


<h1>Ego vero volo in virtute vim esse quam maximam;</h1>

<p><i>Ut aliquid scire se gaudeant?</i> Pungunt quasi aculeis interrogatiunculis
    angustis, quibus etiam qui assentiuntur nihil commutantur animo et idem
    abeunt, qui venerant. Et quidem illud ipsum non nimium probo et tantum
    patior, philosophum loqui de cupiditatibus finiendis. <a
        href="http://loripsum.net/" target="_blank">Ut id aliis narrare
        gestiant?</a> Sed in ceteris artibus cum dicitur artificiose, posterum
    quodam modo et consequens putandum est, quod illi §pigennhmatikÒn appellant;
    Cur ipse Pythagoras et Aegyptum lustravit et Persarum magos adiit? <a
        href="http://loripsum.net/" target="_blank">Compensabatur, inquit, cum
        summis doloribus laetitia.</a> In eo autem voluptas omnium Latine
    loquentium more ponitur, cum percipitur ea, quae sensum aliquem moveat,
    iucunditas. Non ergo Epicurus ineruditus, sed ii indocti, qui, quae pueros
    non didicisse turpe est, ea putant usque ad senectutem esse discenda. Ubi ut
    eam caperet aut quando? </p>

<pre>Aut, si nihil malum, nisi quod turpe, inhonestum, indecorum,
pravum, flagitiosum, foedum-ut hoc quoque pluribus nominibus
insigne faciamus-, quid praeterea dices esse fugiendum?

Gracchum patrem non beatiorem fuisse quam fillum, cum alter
stabilire rem publicam studuerit, alter evertere.
</pre>


<ul>
    <li>Scripta sane et multa et polita, sed nescio quo pacto auctoritatem
        oratio non habet.</li>
    <li>Superiores tres erant, quae esse possent, quarum est una sola defensa,
        eaque vehementer.</li>
    <li>Itaque rursus eadem ratione, qua sum paulo ante usus, haerebitis.</li>
    <li>Si verbum sequimur, primum longius verbum praepositum quam bonum.</li>
</ul>


<p>Sin autem est in ea, quod quidam volunt, nihil impedit hanc nostram
    comprehensionem summi boni. <b>Quid dubitas igitur mutare principia
        naturae?</b> Istam voluptatem perpetuam quis potest praestare sapienti?
    <a href="http://loripsum.net/" target="_blank">Sint modo partes vitae
        beatae.</a> Nullus est igitur cuiusquam dies natalis. Ex quo illud
    efficitur, qui bene cenent omnis libenter cenare, qui libenter, non continuo
    bene. De malis autem et bonis ab iis animalibus, quae nondum depravata sint,
    ait optime iudicari. Itaque et manendi in vita et migrandi ratio omnis iis
    rebus, quas supra dixi, metienda. </p>

<blockquote cite="http://loripsum.net">
    Illa autem, morbum, egestatem, dolorem, non appello m a l a, sed, si libet,
    r e i e c t a n e a.
</blockquote>


<h2>Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum.</h2>

<p><a href="http://loripsum.net/" target="_blank">Eam stabilem appellas.</a>
    Tamen aberramus a proposito, et, ne longius, prorsus, inquam, Piso, si ista
    mala sunt, placet. Hi curatione adhibita levantur in dies, valet alter plus
    cotidie, alter videt. <i>Haec dicuntur fortasse ieiunius;</i> Qui autem esse
    poteris, nisi te amor ipse ceperit?
    <code>Duo enim genera quae erant, fecit tria.</code> </p>

<p>Prodest, inquit, mihi eo esse animo. <b>Quae contraria sunt his, malane?</b>
    Quam tu ponis in verbis, ego positam in re putabam. Itaque illa non dico me
    expetere, sed legere, nec optare, sed sumere, contraria autem non fugere,
    sed quasi secernere. <b>Quid ergo hoc loco intellegit honestum?</b> Quod
    quidem nobis non saepe contingit. Varietates autem iniurasque fortunae
    facile veteres philosophorum praeceptis instituta vita superabat. <a
        href="http://loripsum.net/" target="_blank">Sed vos squalidius, illorum
        vides quam niteat oratio.</a> Ergo in utroque exercebantur, eaque
    disciplina effecit tantam illorum utroque in genere dicendi copiam. <a
        href="http://loripsum.net/" target="_blank">Ita multa dicunt, quae vix
        intellegam.</a> </p>

<p>Animadverti, ínquam, te isto modo paulo ante ponere, et scio ab Antiocho
    nostro dici sic solere;
    <code>Quamquam tu hanc copiosiorem etiam soles dicere.</code> Nam constitui
    virtus nullo modo potesti nisi ea, quae sunt prima naturae, ut ad summam
    pertinentia tenebit. Nam si dicent ab illis has res esse tractatas, ne ipsos
    quidem Graecos est cur tam multos legant, quam legendi sunt. </p>

<h6>An eiusdem modi?</h6>

<p>Aufidio, praetorio, erudito homine, oculis capto, saepe audiebam, cum se
    lucis magis quam utilitatis desiderio moveri diceret. Deinde dolorem quem
    maximum? Non autem hoc: igitur ne illud quidem. Qui potest igitur habitare
    in beata vita summi mali metus? Quid est igitur, cur ita semper deum
    appellet Epicurus beatum et aeternum? Huic mori optimum esse propter
    desperationem sapientiae, illi propter spem vivere. </p>

<p>Eam si varietatem diceres, intellegerem, ut etiam non dicente te intellego;
    Vitiosum est enim in dividendo partem in genere numerare. Nam prius a se
    poterit quisque discedere quam appetitum earum rerum, quae sibi conducant,
    amittere. Critolaus imitari voluit antiquos, et quidem est gravitate
    proximus, et redundat oratio, ac tamen is quidem in patriis institutis
    manet. Est autem officium, quod ita factum est, ut eius facti probabilis
    ratio reddi possit. Sic enim censent, oportunitatis esse beate vivere. De
    malis autem et bonis ab iis animalibus, quae nondum depravata sint, ait
    optime iudicari. Levatio igitur vitiorum magna fit in iis, qui habent ad
    virtutem progressionis aliquantum. Sint modo partes vitae beatae. Se dicere
    inter honestum et turpe nimium quantum, nescio quid inmensum, inter ceteras
    res nihil omnino interesse. Quae etsi mihi nullo modo probantur, tamen
    Democritum laudatum a ceteris ab hoc, qui eum unum secutus esset, nollem
    vituperatum. </p>

<p><b>Videamus igitur sententias eorum, tum ad verba redeamus.</b> <b>Ut aliquid
        scire se gaudeant?</b> <code>Nam ante Aristippus, et ille melius.</code>
    <i>Sit sane ista voluptas.</i> Si enim non fuit eorum iudicii, nihilo magis
    hoc non addito illud est iudicatum-. <i>Istam voluptatem, inquit, Epicurus
        ignorat?</i> Restat locus huic disputationi vel maxime necessarius de
    amicitia, quam, si voluptas summum sit bonum, affirmatis nullam omnino fore.
    Cur igitur, inquam, res tam dissimiles eodem nomine appellas? De maximma
    autem re eodem modo, divina mente atque natura mundum universum et eius
    maxima partis administrari. Aut etiam, ut vestitum, sic sententiam habeas
    aliam domesticam, aliam forensem, ut in fronte ostentatio sit, intus veritas
    occultetur? Quorum sine causa fieri nihil putandum est. Maximus dolor,
    inquit, brevis est. Est enim effectrix multarum et magnarum voluptatum.
    <b>Tecum optime, deinde etiam cum mediocri amico.</b> Expressa vero in iis
    aetatibus, quae iam confirmatae sunt. </p>

<pre>Verum ut haec non in posteris et in consequentibus, sed in
primis continuo peccata sunt, sic ea, quae proficiscuntur a
virtute, susceptione prima, non perfectione recta sunt
iudicanda.

Non prorsus, inquit, omnisque, qui sine dolore sint, in
voluptate, et ea quidem summa, esse dico.
</pre>


<ul>
    <li>Deinde disputat, quod cuiusque generis animantium statui deceat
        extremum.</li>
    <li>Quare obscurentur etiam haec, quae secundum naturam esse dicimus, in
        vita beata;</li>
    <li>Addidisti ad extremum etiam indoctum fuisse.</li>
    <li>Idemne potest esse dies saepius, qui semel fuit?</li>
</ul>


<ol>
    <li>Semper enim ex eo, quod maximas partes continet latissimeque funditur,
        tota res appellatur.</li>
    <li>Utrum igitur percurri omnem Epicuri disciplinam placet an de una
        voluptate quaeri, de qua omne certamen est?</li>
    <li>Nihilne te delectat umquam -video, quicum loquar-, te igitur, Torquate,
        ipsum per se nihil delectat?</li>
    <li>Quae sunt igitur communia vobis cum antiquis, iis sic utamur quasi
        concessis;</li>
</ol>


<ol>
    <li>Quae iam oratio non a philosopho aliquo, sed a censore opprimenda est.
    </li>
    <li>Atqui haec patefactio quasi rerum opertarum, cum quid quidque sit
        aperitur, definitio est.</li>
    <li>Ergo ita: non posse honeste vivi, nisi honeste vivatur?</li>
    <li>Tu vero, inquam, ducas licet, si sequetur;</li>
</ol>


<dl>
    <dt><dfn>Bork</dfn></dt>
    <dd>Quod praeceptum quia maius erat, quam ut ab homine videretur, idcirco
        assignatum est deo.</dd>
    <dt><dfn>Facete M.</dfn></dt>
    <dd>Si enim ita est, vide ne facinus facias, cum mori suadeas.</dd>
    <dt><dfn>Memini vero, inquam;</dfn></dt>
    <dd>Quod eo liquidius faciet, si perspexerit rerum inter eas verborumne sit
        controversia.</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Potius inflammat, ut coercendi magis quam dedocendi esse videantur.</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Bork</dd>
    <dt><dfn>Haec dicuntur inconstantissime.</dfn></dt>
    <dd>Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt;
    </dd>
</dl>


<blockquote cite="http://loripsum.net">
    De bona autem fama-quam enim appellant eÈdoj¤an, aptius est bonam famam hoc
    loco appellare quam gloriam-Chrysippus quidem et Diogenes detracta utilitate
    ne digitum quidem eius causa porrigendum esse dicebant;
</blockquote>


<dl>
    <dt><dfn>Bork</dfn></dt>
    <dd>Non modo carum sibi quemque, verum etiam vehementer carum esse?</dd>
    <dt><dfn>Sullae consulatum?</dfn></dt>
    <dd>Quod quidem iam fit etiam in Academia.</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Quid de Platone aut de Democrito loquar?</dd>
    <dt><dfn>Bork</dfn></dt>
    <dd>Sed erat aequius Triarium aliquid de dissensione nostra iudicare.</dd>
</dl>


<p><mark>Haec quo modo conveniant, non sane intellego.</mark> Inquit, respondet:
    Quia, nisi quod honestum est, nullum est aliud bonum! Non quaero iam verumne
    sit; <mark>Ac tamen hic mallet non dolere.</mark> Tum ego: Non mehercule,
    inquam, soleo temere contra Stoicos, non quo illis admodum assentiar, sed
    pudore impedior; <a href="http://loripsum.net/" target="_blank">Huius ego
        nunc auctoritatem sequens idem faciam.</a> <b>Sedulo, inquam,
        faciam.</b> Quod quidem nobis non saepe contingit. Sed alii dolore
    moventur, alii cupiditate, iracundia etiam multi effetuntur et, cum in mala
    scientes inruunt, tum se optime sibi consulere arbitrantur. Ergo nata est
    sententia veterum Academicorum et Peripateticorum, ut finem bonorum dicerent
    secundum naturam vivere, id est virtute adhibita frui primis a natura datis.
    Ergo, si semel tristior effectus est, hilara vita amissa est? Nec enim, dum
    metuit, iustus est, et certe, si metuere destiterit, non erit; Habent enim
    et bene longam et satis litigiosam disputationem. <b>Quid de Platone aut de
        Democrito loquar?</b> Sed ego in hoc resisto; </p>

<ul>
    <li>Quid me istud rogas?</li>
    <li>Hoc est dicere: Non reprehenderem asotos, si non essent asoti.</li>
</ul>


<h3>Honesta oratio, Socratica, Platonis etiam.</h3>

<p><b>Quae cum dixisset paulumque institisset, Quid est?</b> <a
        href="http://loripsum.net/" target="_blank">Duarum enim vitarum nobis
        erunt instituta capienda.</a> Unum nescio, quo modo possit, si
    luxuriosus sit, finitas cupiditates habere. Utrum igitur percurri omnem
    Epicuri disciplinam placet an de una voluptate quaeri, de qua omne certamen
    est? Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter
    voluptatem, nos amemus; Qui non moveatur et offensione turpitudinis et
    comprobatione honestatis? <b>An tu me de L.</b> Naturalem enim appetitionem,
    quam vocant o)rmh)n, itemque officium, ipsam etiam virtutem tuentem volunt
    esse earum rerum, quae secundum naturam sunt. <b>Si quidem, inquit,
        tollerem, sed relinquo.</b> An dubium est, quin virtus ita maximam
    partem optineat in rebus humanis, ut reliquas obruat? </p>

<p>Duarum enim vitarum nobis erunt instituta capienda. <a
        href="http://loripsum.net/" target="_blank">Ubi ut eam caperet aut
        quando?</a> Idne consensisse de Calatino plurimas gentis arbitramur,
    primarium populi fuisse, quod praestantissimus fuisset in conficiendis
    voluptatibus? His singulis copiose responderi solet, sed quae perspicua sunt
    longa esse non debent. Audi, ne longe abeam, moriens quid dicat Epicurus, ut
    intellegas facta eius cum dictis discrepare: Epicurus Hermarcho salutem. Non
    ego tecum iam ita iocabor, ut isdem his de rebus, cum L. <b>Et ille ridens:
        Video, inquit, quid agas;</b> <b>Sit enim idem caecus, debilis.</b>
    Atque ita re simpliciter primo collocata reliqua subtilius persequentes
    corporis bona facilem quandam rationem habere censebant; </p>

<h4>Ab hoc autem quaedam non melius quam veteres, quaedam omnino relicta.</h4>

<p>Non minor, inquit, voluptas percipitur ex vilissimis rebus quam ex
    pretiosissimis. Et quod est munus, quod opus sapientiae? Nam si beatus
    umquam fuisset, beatam vitam usque ad illum a Cyro extructum rogum
    pertulisset. In eo autem voluptas omnium Latine loquentium more ponitur, cum
    percipitur ea, quae sensum aliquem moveat, iucunditas. Quodsi Graeci
    leguntur a Graecis isdem de rebus alia ratione compositis, quid est, cur
    nostri a nostris non legantur? Dicet pro me ipsa virtus nec dubitabit isti
    vestro beato M. </p>

<p>Quaesita enim virtus est, non quae relinqueret naturam, sed quae tueretur.
    Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus
    refers? Semovenda est igitur voluptas, non solum ut recta sequamini, sed
    etiam ut loqui deceat frugaliter. Sit hoc ultimum bonorum, quod nunc a me
    defenditur; Etenim si delectamur, cum scribimus, quis est tam invidus, qui
    ab eo nos abducat? <a href="http://loripsum.net/" target="_blank">Ad eas
        enim res ab Epicuro praecepta dantur.</a> Epicurus autem cum in prima
    commendatione voluptatem dixisset, si eam, quam Aristippus, idem tenere
    debuit ultimum bonorum, quod ille; <i>Sed ne, dum huic obsequor, vobis
        molestus sim.</i> </p>